In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [13]:
print("Total Number of Players:", len(purchase_data["SN"].value_counts()))
print("Number of Unique Items:", len(purchase_data["Item Name"].value_counts()))
print("Average Purchase Price:", purchase_data["Price"].mean())
print("Total Number of Purchases:", len(purchase_data["Purchase ID"]))
print("Total Revenue:", purchase_data["Price"].sum())

Total Number of Players: 576
Number of Unique Items: 179
Average Purchase Price: 3.0509871794871795
Total Number of Purchases: 780
Total Revenue: 2379.77

In [14]:
summary_df = pd.DataFrame({"Number of Unique Items": [len(purchase_data["Item Name"].value_counts())],
                          "Average Price": [purchase_data["Price"].mean()],
                          "Number of Purchases": [len(purchase_data["Purchase ID"])],
                          "Total Revenue": [purchase_data["Price"].sum()]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [15]:
purchase_data_unique = purchase_data.drop_duplicates("SN")
sum_gender = purchase_data_unique.groupby('Gender').count()
sum_gender = pd.DataFrame({"Total Count": purchase_data_unique["Gender"].value_counts(),
                          "Percentage of Players": purchase_data_unique["Gender"].value_counts()/len(purchase_data_unique["SN"].value_counts())})

sum_gender

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [16]:

male_gender = purchase_data[purchase_data["Gender"] == "Male"]
female_gender = purchase_data[purchase_data["Gender"] == "Female"]
other_gender = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
unique_male_gender = male_gender.drop_duplicates("SN")
unique_female_gender = female_gender.drop_duplicates("SN")
unique_other_gender = other_gender.drop_duplicates("SN")


more_gender = purchase_data.groupby('Gender')
more_gender = pd.DataFrame({"Total Count": purchase_data["Gender"].value_counts(),
                            "Average Purchase Price": [male_gender["Price"].mean(), female_gender["Price"].mean(),other_gender["Price"].mean()],
                            "Total Purchase Value": [male_gender["Price"].sum(), female_gender["Price"].sum(), other_gender["Price"].sum()],
                            "Avg Total Purchase per Person": [male_gender["Price"].sum() / len(unique_male_gender), female_gender["Price"].sum() / len(unique_female_gender), other_gender["Price"].sum() / len(unique_other_gender)]})
more_gender

,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727